//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <170>;
    flavor = "tap-preferred";
    quick-tap-ms = <100>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <170>;
            quick-tap-ms = <100>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp Q               &kp W       &kp E               &kp R         &kp T          &kp Y        &kp U                           &kp I               &kp O       &kp P
              &hm LEFT_CONTROL A  &hm LALT S  &hm LEFT_COMMAND D  &hm LSHIFT F  &kp G          &kp H        &hm RSHFT J                     &hm LEFT_COMMAND K  &hm RALT L  &hm RGUI SEMICOLON
&lt 3 ESCAPE  &kp Z               &kp X       &kp C               &kp V         &kp B          &kp N        &kp M                           &kp COMMA           &kp DOT     &kp SLASH           &kp MINUS
                                              &kp BACKSPACE       &lt 3 TAB     &lt 2 SPACE    &lt 1 ENTER  &hm LA(LG(LC(LEFT_SHIFT))) SQT  &kp LEFT_BRACKET
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &kp NUMBER_1              &kp NUMBER_2          &kp NUMBER_3                        &kp NUMBER_4           &kp N5       &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
        &hm LEFT_CONTROL LS(N5)   &hm LEFT_ALT LS(N7)   &hm LEFT_COMMAND RIGHT_PARENTHESIS  &hm LEFT_SHIFT LS(N0)  &kp LBKT     &kp LEFT      &kp DOWN      &kp UP_ARROW  &kp RIGHT     &hm LEFT_CONTROL MINUS
&trans  &kp LG(NON_US_BACKSLASH)  &kp NON_US_BACKSLASH  &trans                              &kp PLUS               &kp F24      &kp RPAR      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_MULTIPLY         &trans
                                                        &kp BACKSPACE                       &trans                 &kp SPACE    &trans        &trans        &kp DOT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp LS(NUMBER_1)                   &kp LA(N)                          &kp LA(N8)                     &kp LA(N8)             &kp LA(N9)    &kp CARET                    &kp PERCENT                  &kp LA(RIGHT_BRACKET)       &kp LS(EQUAL)       &kp LS(MINUS)
        &hm LEFT_CONTROL NON_US_BACKSLASH  &hm LEFT_ALT LS(NON_US_BACKSLASH)  &hm LEFT_COMMAND LS(NUMBER_2)  &hm LEFT_SHIFT LS(N8)  &kp LS(N9)    &hm LEFT_SHIFT LS(NUMBER_4)  &hm LEFT_SHIFT LS(NUMBER_6)  &hm LEFT_COMMAND LA(GRAVE)  &hm LEFT_ALT LA(Q)  &hm LEFT_CONTROL NON_US_BACKSLASH
&trans  &kp GRAVE                          &kp LS(GRAVE)                      &kp LA(N5)                     &kp LA(N7)             &kp LA(N0)    &kp UNDER                    &kp SLASH                    &kp LA(MINUS)               &kp LS(PERIOD)      &kp LS(SLASH)                      &trans
                                                                              &trans                         &trans                 &trans        &kp ENTER                    &trans                       &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &kp F1   &kp F2   &kp F3  &kp F4  &kp F5    &kp F6  &kp F7             &kp F8           &kp F9  &kp F10
        &kp F11  &kp F12  &trans  &trans  &trans    &trans  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans  &kp F10
&trans  &trans   &trans   &trans  &trans  &trans    &trans  &trans             &trans           &trans  &kp LA(LG(DOWN))  &kp F7
                          &trans  &trans  &trans    &trans  &trans             &trans
            >;
        };
    };
};
